*.md text working-tree-encoding=UTF-8 eol=lf
*.py text working-tree-encoding=UTF-8 eol=lf
*.c text working-tree-encoding=UTF-8 eol=lf
*.h text working-tree-encoding=UTF-8 eol=lf
*.sh text working-tree-encoding=UTF-8 eol=lf
*.txt text working-tree-encoding=UTF-8 eol=lf
*.bat text working-tree-encoding=UTF-8 eol=crlf
*.ps1 text working-tree-encoding=UTF-8 eol=crlf
